@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/GoogleSans-Regular-v1.27.ttf") format("truetype"); /* Adjust the font format if needed */
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Sans", sans-serif; /* Change the font-family here to 'Sans' */
  }
}
